* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

figure {
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/* media-query
------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #2D2D32;
  background: #FFF;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #2D2D32;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.inner {
  width: calc(335 / 375 * 100%);
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .inner {
    width: calc(1200 / 1440 * 100%);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  ._is-sp {
    display: none;
  }
}
@media (min-width: 1024px) {
  ._is-sp {
    display: none;
  }
}

.text_bold {
  font-weight: 700;
}

.btn {
  display: block;
  width: 30rem;
  padding: 1.8rem 0 2.2rem;
  border-radius: 999px;
  border: 2px solid #64629D;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}
.btn._pl {
  background: #64629D;
  color: #FFF;
}
.btn._wh {
  background: #FFF;
  color: #64629D;
}
.btn._sp-btn {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}
.btn._mt24 {
  margin-top: 2.4rem;
}
.btn._mt32 {
  margin-top: 3.2rem;
}

.section-title {
  text-align: center;
  padding-top: 3.4rem;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: #64629D;
}

._ib {
  display: inline-block;
}

.section-title_en {
  font: 700 2.2rem/1 "Hind", sans-serif;
  color: #9F9EC1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* header
--------------------------- */
.header {
  width: 100%;
  height: 5.2rem;
  background: #FFF;
  position: fixed;
  z-index: 100;
}

._header-inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sp__nav_btn {
  width: 2.1rem;
  height: 3.3rem;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  z-index: 110;
}
.sp__nav_btn span {
  width: 2.1rem;
  height: 0.3rem;
  background: #64629D;
  border-radius: 5px;
  position: absolute;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sp__nav_btn span:nth-of-type(1) {
  top: 1.2rem;
}
.sp__nav_btn span:nth-of-type(2) {
  width: 1.313rem;
  height: 0.35rem;
  top: 2.1rem;
}
.sp__nav_btn span:nth-of-type(3) {
  bottom: 0;
}
.sp__nav_btn._open span:nth-of-type(1) {
  top: 1.6rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.sp__nav_btn._open span:nth-of-type(2) {
  opacity: 0;
}
.sp__nav_btn._open span:nth-of-type(3) {
  top: 1.6rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__btn_text {
  font: 700 0.6rem/1 "Noto Sans JP", sans-serif;
  -webkit-transform: scale(0.6);
  -webkit-transform-origin: 0 0;
  color: #64629D;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__btn_text._open {
  opacity: 0;
}

/* footer
--------------------------- */
/* sp-nav
--------------------------- */
.open__nav {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #EDECFC;
  position: fixed;
  top: 5.2rem;
  right: -200%;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.open__nav.__panel-active {
  right: 0;
}

.nav__wrapper {
  width: calc(300 / 375 * 100%);
  margin: 8rem auto;
}

.nav__items {
  width: calc(250 / 300 * 100%);
  margin: 0 auto;
}

.nav__item {
  padding-left: 4rem;
  position: relative;
}
.nav__item::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border: 0.2rem solid #64629D;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.nav__item:not(:first-child) {
  margin-top: 4rem;
}
.nav__item a {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
}

.spnav__btn {
  margin-top: 6.2rem;
}

/* global-nav
--------------------------- */
/* trial
--------------------------- */
.trial__contents {
  background: #2D2D32;
  padding: 4rem 0;
}

.trial__text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}

/* fv
--------------------------------- */
.fv__contents {
  background: #EDECFC;
  padding: 11.2rem 0 6rem;
}

.fv__text_title {
  font-size: 8vw;
  font-weight: 700;
}

.fv__text_lead {
  margin-top: 1.6rem;
}

.fv__img {
  width: calc(305 / 335 * 100%);
  margin: -1.6rem auto;
}

.fv__btn {
  text-align: center;
}

/* about
---------------------------------- */
.about {
  padding: 8rem 0 6rem;
}

.about__text {
  margin-top: 2.4rem;
  text-align: center;
}

/* feature
--------------------------------- */
.feature {
  background: #F9F9F9;
  padding: 6rem 0;
}

.feature__lists {
  margin-top: 4rem;
}

.feature__list {
  counter-increment: number;
}
.feature__list:not(:first-child) {
  margin-top: 6rem;
}

.feature__list_img {
  width: calc(280 / 335 * 100%);
  margin: 0 auto -9rem;
}

.feature__list_text {
  padding: 4.9rem 2rem 4rem;
  background: #FFF;
  border-radius: 20px;
}

.feature__list_title {
  padding-top: 4.2rem;
  position: relative;
  font-size: 2.2rem;
  font-weight: 700;
}
.feature__list_title::before {
  content: counter(number, decimal-leading-zero);
  font: 4.2rem/1 "Hind", sans-serif;
  color: #64629D;
  letter-spacing: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
}

.feature__list_message {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */