@charset "utf-8";

$font-family-awesome_jp: 'Noto Sans JP', sans-serif;
$font-family-awesome_en: 'Hind', sans-serif;

$max-width: 1440px;

// インナー幅
$layout-width-inner: 1200px;

// フォント
$size-main: 1.6rem;

// ベース
$color-main: #64629D;
$color-accent: #9F9EC1;

// 背景
$color-bg: #FFF;
$color-bg_bk: #2D2D32;
$color-bg_pl: #EDECFC;
$color-bg_gy: #F9F9F9;
$color-bg_footer: #000;

// テキスト
$color-text_bk: #2D2D32;
$color-text_wh: #FFF;
$color-text_pl: #64629D;