@charset "UTF-8";
@use "../../../global" as global;

/* about
---------------------------------- */
.about {
    padding: 8rem 0 6rem;

    @include global.mq(lg) {
        padding: 10rem 0;
    }
}

.about__text {
    margin-top: 2rem;
    text-align: center;

    @include global.mq(lg) {
        margin-top: 1.7rem;
        font-size: 1.8rem;
        line-height: 1.8;
    }
}