@charset "UTF-8";
@use "../../../global" as global;

/* flow
--------------------------------- */
.flow {
    background: global.$color-bg_gy;
    padding: 6rem 0 6.5rem;

    @include global.mq(lg) {
        padding: 10rem 0 8rem;
    }
}

.flow__lists {
    margin-top: 5.4rem;

    @include global.mq(lg) {
        width: 90%;
        margin: 4.5rem auto 0;
        padding-left: 1.6rem;
        display: flex;
        justify-content: space-between;
    }
}

.flow__list {
    counter-increment: number_flow;

    &:not(:first-child) {
        margin-top: 8.7rem;

        @include global.mq(lg) {
            margin-top: 0;
            margin-left: 11.5rem;
        }

        &::after {
            @include global.mq(lg) {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 32px 0 32px 29px;
                border-color: transparent transparent transparent #C4C4C4;
                position: absolute;
                top: 18%;
                left: -34%;
            }
        }
    }

    @include global.mq(lg) {
        width: calc(308/ 1200 * 100%);
        position: relative;
    }
}

.flow__list_img {
    background: global.$color-bg_pl;
    border-radius: 30px;
    padding: 0 6.8rem;
    position: relative;

    @include global.mq(lg) {
        padding: 0.3rem 4rem;
    }

    img {
        width: 96%;
        margin: 0 auto;
    }

    &::before {
        content: counter(number_flow, decimal-leading-zero);
        font: 5.4rem/1 global.$font-family-awesome_en;
        color: global.$color-text_pl;
        letter-spacing: 0.08em;
        position: absolute;
        top: -3rem;
        left: 0;

        @include global.mq(lg) {
            font-size: 4.8rem;
            top: -2rem;
            left: -1.7rem;
        }
    }
}

.flow__list_text {
    margin-top: 1.6rem;

    @include global.mq(lg) {
        margin-top: 1.9rem;
    }
}

.flow__list_title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include global.mq(lg) {
        font-size: 2.4rem;
    }
}

.flow__list_message {
    margin-top: .95rem;
    line-height: 1.8;

    @include global.mq(lg) {
       margin-top: 1.5rem; 
    }
}