@charset "UTF-8";
@use "../../../global" as global;

/* fv
--------------------------------- */
.fv__contents {
    background: global.$color-bg_pl;
    padding: 11.2rem 0 6rem;

    @include global.mq(lg) {
        padding: 18.9rem 0 11.3rem;
        position: relative;
    }
}

.fv__text {
    @include global.mq(lg) {
        width: calc(677 / 1200 * 100%);
    }
}

.fv__text_title {
    font-size: 8vw;
    font-weight: 700;

    @include global.mq(lg) {
        font-size: 4.3vw;
        line-height: 1.4;
        letter-spacing: -0.03em;
    }
}

.fv__text_lead {
    margin-top: 1.6rem;

    @include global.mq(lg) {
        width: 82%;
        font-size: 1.8rem;
        line-height: 1.777;
        margin-top: 2.4rem;
    }
}

.fv__img {
    width: calc(308 / 335 * 100%); 
    margin: -2.5rem auto;
    padding-right: .6rem;

    @include global.mq(lg) {
        width: 35.5%;
        margin: 0;
        position: absolute;
        top: 16.5%;
        right: calc(135 / 1440 * 100%);
    }
}

.fv__btn {
    text-align: center;

    @include global.mq(md) {
        display: flex;
    }

    @include global.mq(lg) {
        display: flex;
    }
}