@charset "UTF-8";
@use "../../../global" as global;

/* question
--------------------------------- */
.question {
    background: global.$color-bg_gy;
    padding: 4.3rem 0 6.5rem;

    @include global.mq(lg) {
        padding: 8rem 0 10.5rem;
    }
}

.question__container {
    width: calc(335 / 375 * 100%);
    max-width: global.$layout-width-inner;
    margin: 3rem auto 0;

    @include global.mq(lg) {
        margin: 5rem auto 0;
        width: calc(920 / 1440 * 100%);
    }
}

.question__wrapper {
    &:not(:first-child) {
        margin-top: 2.4rem;

        @include global.mq(lg) {
            margin-top: 2.7rem;
        }
    }
}

.question__summary {
	list-style: none;
    cursor: pointer;
    background: global.$color-main;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    @include global.mq(lg) {
        padding: 2rem 2.4rem 1.6rem;
    }
}

.question__summary::-webkit-details-marker {
	display: none;
}

.question__title {
    color: global.$color-text_wh;
    font-weight: 700;
    padding-left: 3.2rem;
    position: relative;

    &::before {
        content: 'Q';
        font-size: 2.2rem;
        color: global.$color-text_wh;
        font-weight: 700;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include global.mq(lg) {
        font-size: 1.8rem;
    }
}

.question__answer {
    background: global.$color-bg;
    padding: 1.2rem 1.6rem;
    border-radius: 4px;
    margin-top: 1.6rem;

    @include global.mq(lg) {
        padding: 2.7rem 2.5rem 2.2rem;
        margin-top: 1rem;
    }
}

.answer__text {
    padding-left: 2.6rem;
    position: relative;

    &::before {
        content: 'A';
        font-weight: 700;
        line-height: 1;
        font-size: 2.2rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include global.mq(lg) {
        padding-left: 3.1rem;
        font-size: 1.8rem;
    }
}

.question__wrapper[open] .question__answer {
	animation: fadein 0.5s ease;
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}