@charset "utf-8";
@use "../global" as global;

html { 
    font-size: 62.5%;
}

body {
    font-family: global.$font-family-awesome_jp;
    font-size: global.$size-main;
    line-height: 1.6;
    color: global.$color-text_bk;
    background: global.$color-bg;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: global.$color-text_bk;
    transition: .5s;
}

.inner {
    width: calc(335 / 375 * 100%);
    max-width: global.$layout-width-inner;
    margin: 0 auto;

    @include global.mq(lg) {
        width: calc(1200 / 1440 * 100%);
    }
}

._is-sp {
    @include global.mq(md) {
        display: none;
    }

    @include global.mq(lg) {
        display: none;
    }
}

.text_bold {
    font-weight: 700;
}

.btn {
    display: block;
    width: 30rem;
    padding: 1.8rem 0;
    border-radius: 999px;
    border: 2px solid global.$color-main;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 0;
    transition: all .5s;

    @include global.mq(lg) {
        width: 40rem;
        font-size: 2.4rem;
        padding: 1.6rem 0;
    }

    &._pl {
        background: global.$color-main;
        color: global.$color-text_wh;

        &:hover {
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
            top: -.4rem;
        }
    }

    &._wh {
        background: global.$color-bg;
        color: global.$color-text_pl;

        &:hover {
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
            top: -.4rem;
        }
    }

    &._sp-btn {
        width: 100%;
        max-width: 30rem;
        margin: 0 auto;

        @include global.mq(lg) {
            max-width: 40rem;
        }
    }

    &._nav-filebtn, &._about-btn, &._trial-btn {
        margin-top: 2.4rem;

        @include global.mq(lg) {
            margin-top: 4.5rem;
        }
    }

    &._about-btn {
        margin-top: 4rem;
        padding: 1.8rem 0 2.3rem;
    }

    &._trial-btn {
        &:hover {
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
            top: -.4rem;
        }

        @include global.mq(lg) {
            margin-top: 3rem;
            padding: 2rem 0;
        }
    }

    &._fv-btn {
        margin-top: 1.6rem;

        &:not(:first-of-type) {
            margin-top: 3.2rem;

            @include global.mq(md) {
                margin-top: 1.6rem;
            }

            @include global.mq(lg) {
                margin-top: 3.8rem;
                margin-left: 3.7rem;
            }
        }

        @include global.mq(lg) {
            width: 25rem;
            margin: 3.8rem 0 0;
            font-size: 1.8rem;
        }
    }
}

._gnav-btn {
    display: none;
    width: 18rem;
    padding: 1.2rem 0;
    color: global.$color-text_wh;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    background: global.$color-main;
    border: 2px solid global.$color-main;
    border-radius: 999px;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    position: relative;
    top: 0;
    
    &:hover {
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
        top: -.4rem;
    }

    @include global.mq(lg) {
        display: block;
    }
}

.plan__btn {
    display: block;
    width: 100%;
    padding: 1.3rem 0;
    border-radius: 999px;
    text-align: center;
    font-weight: 700;
    line-height: 1;

    &._plan-wh {
        width: 98%;
        padding: 1.2rem 0 1rem;
        border: 2px solid global.$color-text_bk;
        background: global.$color-bg;
        margin-top: 1.3rem;
        transition: all .5s;

        &:hover {
            background: global.$color-bg_bk;
            color: global.$color-text_wh;
            border: 2px solid global.$color-text_wh;
        } 
        
        @include global.mq(lg) {
            width: 100%;
            font-size: 1.8rem;
            padding: 1.2rem 0 1.5rem;
            margin-top: 3rem;
        }
    }

    &._plan-pl {
        border: 2px solid global.$color-text_wh;
        background: global.$color-main;
        color: global.$color-text_wh;
        margin-top: 1.9rem;
        transition: all .5s;

        &:hover {
            background: global.$color-bg;
            color: global.$color-main;
        }   
        
        @include global.mq(lg) {
            font-size: 1.8rem;
            margin-top: 2.8rem;
        }
    }
}

.btn-area__btn_wh {
    border: 2px solid global.$color-text_bk;
    background: global.$color-bg;
    padding: 1.3rem 0;
    width: 98%;
    margin-top: 0;
    transition: all .5s;

    &:hover {
        background: global.$color-bg_bk;
        color: global.$color-text_wh;
    }

    @include global.mq(lg) {
        width: 100%;
        font-size: 1.8rem;
    }
}

.btn-area__btn_pl {
    border: 2px solid global.$color-main;
    background: global.$color-main;
    color: global.$color-text_wh;
    transition: all .5s;

    &:hover {
        background: global.$color-bg;
        color: global.$color-main;
    }

    @include global.mq(lg) {
        font-size: 1.8rem;
    }
}

.section-title {
    text-align: center;
    padding-top: 3.3rem;
    position: relative;
    font-size: 3rem;
    font-weight: 700; 
    color: global.$color-text_pl; 
    letter-spacing: 0.03em;
    line-height: 1.5;  

    @include global.mq(lg) {
        font-size: 4.8rem;
        padding-top: 4.15rem;
        letter-spacing: 0.05em;
    }
}

._ib {
    display: inline-block;
}

.section-title_en {
    font: 700 2.2rem/1 global.$font-family-awesome_en;
    color: global.$color-accent;
    letter-spacing: 0.06em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include global.mq(lg) {
        font-size: 3.6rem;
        letter-spacing: 0.07em;
    }
}

.is-lg {
    display: none;

    @include global.mq(lg) {
        display: block;
    }
}