@charset "utf-8";
@use "../global" as global;

html { 
    font-size: 62.5%;
}

body {
    font-family: global.$font-family-awesome_jp;
    font-size: global.$size-main;
    line-height: 1.6;
    color: global.$color-text_bk;
    background: global.$color-bg;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: global.$color-text_bk;
    transition: .5s;
}

.inner {
    width: calc(335 / 375 * 100%);
    max-width: global.$layout-width-inner;
    margin: 0 auto;

    @include global.mq(lg) {
        width: calc(1200 / 1440 * 100%);
    }
}